---
---
@import "czhc-theme";
@import "monokai.css";
@import "nav";

.timeline-list { list-style: none };
.timeline-list h3 { margin-top: 1.5em; }
.timeline-list li { padding: 0; }
.timeline-list li::before {
  content: " ";
  color: #fff;
  font-size: 8px;
  border: solid 3px map-get($colors, blue);
  border-radius: 50%;
  width: 1em;
  display: inline-block;
  padding: 3px;
  margin-right: 12px;
  background-color: #fff;
}

.timeline-list li::after {
  content: "";
  background-color: map-get($colors, blue);
  padding: 2em 3px;
  position: absolute;
  left: 2em+2em+0.7em;
  z-index: -5;
}

.timeline-list li:first-child { background-color: red };

.timeline-list li:nth-child(2)::after {
  margin-top: 10px;
}

.timeline-list li:last-child::after {
  padding: 5px 3px;
}

.sect--hero.feed {
    a {
	    text-decoration: none;
    }
//   a {
//	color: map-get($colors, black)
//   };

//   .datetime { font-weight: 400}
}
.sidebar > section {
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  &:not(:first-child){
    margin-top: 1em;
  }
}
