---
---

@import "modularscale";
@import "bootstrap";
@import "settings";
@import "typography";
@import "monokai.css";
@import "footer";


h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: $header-font;
  font-weight: 700;
  color: map-get($colors, blue);
  @media (prefers-color-scheme: dark) {
    color: map-get($colors, white)
  }
}

body {
  background-color: lighten(map-get($colors, white), 2%);
  color: darken(map-get($colors, blue), 5%);
  font-family: $font-family;
  @media (prefers-color-scheme: dark) {
    color: map-get($colors, white);
    background-color: darken(map-get($colors, blue), 20%);
  }
}

$footerHeight: 20vh;

.content {
  padding: 2em;
  min-height: 100vh - $footerHeight;
}

a {
  @media (prefers-color-scheme: dark){
    color: map-get($colors, gold)
  }
}

footer {
  padding: 1em 2em;
  width: 100%;
  bottom: 0;
  height: $footerHeight; 
  background-color: map-get($colors, blue);
  color: map-get($colors, white);
}


.timeline-list { list-style: none };
.timeline-list h3 { margin-top: 1.5em; }
.timeline-list li { padding: 1em 0; }
.timeline-list li::before {
  content: " ";
  color: #fff;
  font-size: 8px;
  border: solid 3px map-get($colors, blue);
  border-radius: 50%;
  width: 1em;
  display: inline-block;
  padding: 3px;
  margin-right: 12px;
  background-color: #fff;
}

.timeline-list li::after {
  content: "";
  background-color: map-get($colors, blue);
  padding: 2em 3px;
  position: absolute;
  left: 2em+2em+0.7em;
  z-index: -5; 
}

.timeline-list li:first-child { background-color: red };

.timeline-list li:nth-child(2)::after {
  margin-top: 10px;
}

.timeline-list li:last-child::after {
  padding: 5px 3px;
}
