---
---

@import "czhc-theme";
@import "monokai.css";
@import "nav";

.content {
  padding: 3em 6em;
  @media (max-width: map-get($screens, ipad)) {
	padding: 2em;
  } 
}

img {
  max-width: 100%;
  height: auto;
}

code {
//  color: lighten(map-get($colors, green), 30%);

  @media (prefers-color-scheme: dark) {
    color: map-get($colors, gold)
  };
}
