---
---

@import "czhc-theme";
@import "monokai.css";
@import "nav";

.tags > li > a  { 
  color: map-get($colors, gold); 
  &:hover {
    color: lighten(map-get($colors, gold), 10%); 
    text-decoration: none;
  }
}


li::before { 
  font-size: 0.5 * $font-size-base; 
  color: red;
}

.center {
  text-align: center;
}

blockquote {
  margin: 0.5em 1em;
  color: lighten(map-get($colors, blue), 10%);
  font-size: 1.1em;
  p { font-family: $quote-font; }

/**
  p::before {
    content: "\"";
  }
  p::after {
   content: "\"";
  }
**/
}

.highlight {
  padding: 0.5em;
}


