---
layout: default
title: czhc.dev
description:
---
<div class="row">
	<section class="col-sm-12 col-md-9 feed sect--hero">
	  {% include feed.html %}
	</section>
	<section class="hidden-sm col-md-3 sidebar">
    {% include aboutme.html %}
    {% include bookmarks.html %}
	</section>
</div>


<!--
<section class="text-center align-middle sect--hero">
--!>

<!--
  <h1>{{site.title | default: site.github.repository_name }}</h1>
  <span>{{ site.description | default: site.github.project_tagline }}</span>


  <footer>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class='github' href="https://www.github.com/czhc">
          <i class="fab fa-github" title="github.com/czhc"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class='twitter' href="https://www.twitter.com/cedriczhchan">
          <i class="fab fa-twitter" title="twitter.com/cedriczhchan"></i>
        </a>
      </li>
    </ul>
  </footer>
  --!>




