<section class="aboutme">
	<div class="row">
		<div class='col-md-4'>
			<img class="profile img-fluid" src="{{site.url}}/assets/profile.png">
			<br>
		</div>

		<div class="col-md-8">
			<span>
				<h5 style="display:inline">czhc</h5>&nbsp;
				<em>(/ˈtʃɛk -/)</em>&nbsp;
				<strong>n.</strong>
			</span>
			<p>
				Carbon-based byte-curious.<br>
				Writes code, crunches numbers <br>
				and
				speaks in
					<a href="https://en.wikipedia.org/wiki/Rule_of_three_(writing)" target="_blank">
						threes
					</a><br>
				Working on <a href="https://github.com/czhc/thekindproject"> The KIND Project</a>
			</p>
		</div>

	</div>

</section>
