<!-- <img class="profile img-fluid" src="{{site.url}}/assets/profile.png">
 -->
<section class="aboutme">
	<div class='row'>
		<div class='col-md-12'>
			<span>
				<h5 style="display:inline">czhc</h5>&nbsp;
				<em>(/ˈtʃɛk -/)</em>&nbsp;
				<strong>n.</strong>
			</span>
			<br/>
			<p>
				<a href="https://github.com/czhc/bookmarks"> Discount MBA</a> program <br>
				Engineering @ <a href="https://coingecko.com"> CoinGecko</a> <br> 
				Formerly Solutions Architect @ <a href=""> AWS </a>
			</p>
		</div>
	</div>
</section>
