<section class="aboutme">
	<div class="row">
		<div class='col-md-4'>
			<img class="profile" src="{{site.url}}/assets/profile.png">
		</div>
		<div class="col-md-8">
			<span>
				<h3 style="display:inline">czhc</h3>&nbsp;
				<em>(/ˈtʃɛk -/)</em>&nbsp;
				<strong>n.</strong>
			</span>
			<p>
				Carbon-based lifeform.<br>
				Writes code, crunches numbers and speaks in <a href="https://en.wikipedia.org/wiki/Rule_of_three_(writing)" target="_blank">threes</a>

			</p>
		</div>
	</div>

</section>
