<nav class='main-nav'>
	<div class='main'>
	  <a class='title' href='/'>
	    <span>{{ site.title }}</span>
	  </a>
	  <span class='description'>
	    {{ site.description }}
	  </span>
	</div>
	<div class='socials'>
		<ul class="list-unstyled list-inline">
			<li class="list-inline-item">
			  <a class='link-unstyled github' href="https://www.github.com/czhc">
			    <i class="fab fa-github"></i>
			  </a>
			</li>
			<li class="list-inline-item">
			  <a class='link-unstyled twitter' href="https://www.twitter.com/czhc_">
			    <i class="fab fa-twitter"></i>
			  </a>
			</li>
			<li class="list-inline-item">
			  <a class='link-unstyled ko-fi' href="https://ko-fi.com/czhc_">
			    <i class="fas fa-coffee"></i>
			  </a>
			</li>
		</ul>
	</div>
</nav>
