@import "modularscale";
@import "bootstrap";
@import "settings";
@import "typography";

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: $header-font;
  font-weight: 700;
  color: map-get($colors, blue);
  @media (prefers-color-scheme: dark) {
    color: map-get($colors, white)
  }
}

body {
  background-color: map-get($colors, white);
  color: darken(map-get($colors, blue), 5%);
  font-family: $font-family;
  @media (prefers-color-scheme: dark) {
    color: map-get($colors, white);
    background-color: darken(map-get($colors, blue), 20%);
  }
}

.content {
  padding: 2em;
  min-height: 100vh - $footerHeight;
}

a {
  @media (prefers-color-scheme: dark){
    color: map-get($colors, gold)
  }
}


.sect--hero {
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: darken(map-get($colors, blue), 10%);
  }
}