// Colors
$colors: (
  blue: #306091,
  gold: #FFB949,
  green: #2C3931,
  white: #FEFBE8,
  black: #090A02
);

$font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
$header-font: 'Noto Sans', serif;
$body-font: 'Noto Sans', serif;
$base-font-size: 16px;

// $font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
