// Colors
$colors: (
  blue: #306091,
  gold: #FFB949,
  green: #2C3931,
  white: #f7f7f7,
  grey: #888,
  black: #111, 
);

$screens: (
  phone: 481px,
  ipad: 641px
);

$font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
$header-font: $font-family;
$body-font: $font-family;
$base-font-size: 16px;
$quote-font: $font-family;
$footerHeight: 20vh;
$date-font: 'Noto Sans JP', Helvetica;
// $font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
