.sidebar > section {
  padding: 1em;
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: darken(map-get($colors, blue), 10%);
  }

  border-radius: 0.5em;
  &:not(:first-child){
    margin-top: 1em;
  }
}

.aboutme {
  span {
    font-size: 0.9em;
  }
  .profile {
    border: 5px black solid;
  }
}