@-webkit-keyframes bounce {
  0% {
    -webkit-transform:translateY(-150%);
  }
  55% {
    -webkit-transform:translateY(-150%);
  }
  65% {
    -webkit-transform:translateY(0);
  }
  70% {
    -webkit-transform:translateY(-10%);
  }
  75% {
    -webkit-transform:translateY(0%);
  }
  80% {
    -webkit-transform:translateY(-5%);
  }
  85% {
    -webkit-transform:translateY(0%);
  }
  90% {
    -webkit-transform:translateY(-2%);
  }
  95% {
    -webkit-transform:translateY(0%);
  }
  100% {
    -webkit-transform:translateY(0);
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    -moz-transform:translateY(-150%);
  }
  55% {
    -moz-transform:translateY(-150%);
  }
  65% {
    -moz-transform:translateY(0);
  }
  70% {
    -moz-transform:translateY(-10%);
  }
  75% {
    -moz-transform:translateY(0%);
  }
  80% {
    -moz-transform:translateY(-5%);
  }
  85% {
    -moz-transform:translateY(0%);
  }
  90% {
    -moz-transform:translateY(-2%);
  }
  95% {
    -moz-transform:translateY(0%);
  }
  100% {
    -moz-transform:translateY(0);
  }
}
/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    -o-transform:translateY(-150%);
  }
  55% {
    -o-transform:translateY(-150%);
  }
  65% {
    -o-transform:translateY(0);
  }
  70% {
    -o-transform:translateY(-10%);
  }
  75% {
    -o-transform:translateY(0%);
  }
  80% {
    -o-transform:translateY(-5%);
  }
  85% {
    -o-transform:translateY(0%);
  }
  90% {
    -o-transform:translateY(-2%);
  }
  95% {
    -o-transform:translateY(0%);
  }
  100% {
    -o-transform:translateY(0);
  }
}
/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
    transform:translateY(-150%);
  }
  55% {
    transform:translateY(-150%);
  }
  65% {
    transform:translateY(0);
  }
  70% {
    transform:translateY(-10%);
  }
  75% {
    transform:translateY(0%);
  }
  80% {
    transform:translateY(-5%);
  }
  85% {
    transform:translateY(0%);
  }
  90% {
    transform:translateY(-2%);
  }
  95% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(0);
  }
}