@import "animation";

$font-stack:    Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
$font-shadow:   -5px -5px 0 #000,
                5px -5px 0 #000,
                -5px 5px 0 #000,
                5px 5px 0 #000;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.main-img{
  margin: 75px auto 20px;
  max-width: 400px;
  border: 10px solid black;
  -webkit-animation: bounce 1.5s ease-out;
  -moz-animation: bounce 1.5s ease-out;
  -o-animation: bounce 1.5s ease-out;
  animation: bounce 1.5s ease-out;
  position: relative;
}

h1{
  font: 100px $font-stack;
  color: #fff;
  text-shadow: $font-shadow;
  -webkit-font-smoothing: antialiased;
}