<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>czhc.io</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    {% seo %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto Sans"
    >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>
  <body>
<!--     <header>
      <a href="{{ site.github.url }}"> 
        <h1>
          <img src='https://d2h27eox9il2f2.cloudfront.net/kaodim-logo-medium-red@2x.png' alt={{ site.title | default: site.github.repository_name }} />
        </h1> 
      </a>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </header>
 -->
    <section class="text-center align-middle sect--hero">
      <h1>{{site.title | default: site.github.repository_name }}</h1>  
      <span>{{ site.description | default: site.github.project_tagline }}</span>
      <footer>
        <ul class="list-inline"> 
          <li class="list-inline-item"><a class='github' href="https://www.github.com/czhc"><i class="fab fa-github"></i></a></li>
          <li class="list-inline-item"><a class='twitter' href="https://www.twitter.com/cedriczhchan"><i class="fab fa-twitter"></i></a></li>
        </ul>        
      </footer>
    </section>

<!-- uncomment when restoring
     {{ content }}

    <footer>
      <ul> 
        <li>
          <a class='github' href="https://www.github.com/czhc">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </footer>
 -->
  </body>
</html>